fastapi
uvicorn
line-bot-sdk
langchain-groq
wikipedia
langchain-community
langchain-core
gspread
google-auth
nest_asyncio
faster-whisper  # ← Best for Render (CPU, fast, accurate)
aiohttp # for async download
deepgram-sdk